* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Rye' , sans-serif;
    height: 100%;
    font-family: 'Oswald' , sans-serif;
    height: 100vh; /* ocupa a tela inteira */
    
}
.hero{
    font-family: 'Rye' , sans-serif;
    height: 100%;
    font-family: 'Oswald' , sans-serif;
    background-image: url(./img/img-fundo3.png);
    height: 100vh; /* ocupa a tela inteira */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.top{
    font-family: 'Oswald' sans-serif;
    color: #FFFFFF;
    text-align: center;
    justify-content: center;
    text-align: center;
    position: relative;
    right: 1vw;
     display: flex;
    flex-direction:row ;
    gap: 12vw;
    margin: 0 10px;

    
}

.links {
     font-family: 'Oswald' sans-serif;
    
     font-weight: 600;
    font-size: 25px;
    cursor: pointer;
    color: #ffffff;
    text-align: center;
    justify-content: center;
    
}

#img-logo {
    display: flex;
    height: 10vh;
    width: 6vw;
    
    position: absolute;
    right: 47vw;
    top: 1px;
    
}


.contatos{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-left: 20px;

}
.s-buttons{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: none;
    cursor: pointer;

    

}
    


.all {
    color: #9c9c9c;

  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 400px;
  position: relative;
 left: 50vw;
 top: 5vh;
}

h1 {
    font-family: 'Rye' , sans-serif;
    width: 500px;
    text-align: left;
    font-size: 60px;
    margin-bottom: 50px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 10px rgba(0,0,0,0.6);
    letter-spacing: 3px;
    word-spacing: 1vh;
}

.main-button{
    font-family: 'Rye' , sans-serif;
    width: 200px;
    height: 51px;
    border: none;
    background: #ffae00;
    color: #000000;
    cursor: pointer;
     padding: 16px 32px;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    cursor: pointer;
}

@media (max-width: 900px ){
    .hero{
    background-image: url(./img/img-fundo-mobile2.png);
    margin: 0;
    padding: 0;
    height: 100vh; /* ocupa a tela inteira */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    
    }
    .top{
        margin:0;
        padding: 0;
        display: flex;
        gap: none;

    }
    .links{
        font-size: 20px;
    }
    #img-logo{
        display: none;
    }
    .contatos{
        flex-direction: row;
        position: relative;
        top: 90vh;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .all{
        font-size: 10px;
        width: 10px;
        display: flex;
        position: relative;
        top: 10vh;
        left: 40vw;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    h1{
        font-size: 40px;
        max-width: 100px;
        text-align: center;
        margin-bottom:15vh;
    }
    .main-button{
        width: 200px;
        display: flex;
        position: relative;
        left: 6vw;
        justify-content: center;
        align-items: center;
        text-align: center;
    }


}
