*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
header {
    margin: 44px 0 144px 76px;
    

}

.link-header {
    
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    color: #989D90;
    cursor: pointer;
    margin-right: 23px;

}
.button-header{
    width: 130px;
    height: 41px;
    opacity: 1;
    border-radius: 50px;
    background: #665AE1;
    border: none;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
    cursor: pointer;


}
    

.logo-image{
    width: 568px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;

}

section {
    display: inline-block;
    margin-left: 86px;

}

h1 {

    font-weight: 900;
    font-size: 100px;
    line-height: 100%;
    color: #515151;

}
h2 {
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;
}

p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    width: 515px;
    margin-top: 32px;
    margin-bottom: 65px;


}
.ultimo-botao {
    
    width: 239px;
    height: 64px;
    opacity: 1;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    background:#ADFF00;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
    opacity: 1;
    box-shadow: 0px 4px 4px 0px #00000040;
   
   





}

@media screen and (max-width: 900px){
        header{
            display: none;
        }

        main{
            margin: 180px auto 0px auto;

        }
        .logo-image{
            margin: auto;
            width: 354px;
            height: 317px;
            opacity: 1;  
            margin-left: 15px;

        }
        p{
            display: none;
        }
        h1{
            font-weight: 900;
            font-size: 50px;
            line-height: 135%;
            letter-spacing: 0%;

        }
        
        h2 {
            font-weight: 500;
            font-size: 30px;
            line-height: 100%;
            letter-spacing: 0%;
            margin-bottom: 20px;
        }

}
